<div class="alert alert-dismissible fade show my-small-expand" role="alert">
                <div class="card mt-2">
                    <img class="card-img-top" src="/static/source/pic-bg.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">在纷乱中提炼</h1>
                        <p class="card-text">我们相信，时至今日互联网更需要的，不是再制造低质量信息，而是从纷乱错杂的数据中筛选、提炼精华的环节</p>
                        <hr class="my-4">
                        <p>加入我们，一起分享真正有用的资源链接</p>
                        <a class="btn btn-outline-success" href="/about" role="button">了解我们</a>
                        <a class="btn btn-primary" href="/register" role="button">加入我们</a>
                        <p class="card-text mt-3">
                            <small class="text-muted">
                                良链 LiangLian.site<br>
                                一个自由的资源链接分享社区
                            </small>
                        </p>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>