<div style="width: 100%; height: 100%; background: #F1F1F1">
    <div style="padding: 2rem;">
        <h1>良链 LiangLian.site</h1>
    </div>
    <div style="text-align: center; margin-left: 10%; margin-right: 10%; margin-bottom: 1%;margin-top: 5%;padding: 4rem;background: white;box-shadow: 0 4px 20px rgba(0,0,0,0.1);overflow: hidden;">
    {% block body %}
    {% endblock %}
    </div>
    <div style="text-align: center;margin-top: 1rem;margin-bottom: 2rem;">
        <small style="color: gray;">来自 良链团队ʕ•̫͡•ʕ*̫͡*ʕ•͓͡•ʔ-̫͡-ʕ•̫͡•ʔ*̫͡*ʔ-̫͡-ʔ</small><br>
        <small style="color: gray;">欢迎来信~</small>
    </div>
</div>